<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="DBConnectionString" connectionString="Data Source=USER-PC;Initial Catalog=ETLPOSWF;Persist Security Info=True;User ID=sa;Password=Root@pass1"
            providerName="System.Data.SqlClient" />-->
        <add name="DBConnectionString" connectionString="Data Source=CARTIER-PC;Initial Catalog=cartier;Persist Security Info=True;User ID=sa;Password=Root@pass1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>